* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: white;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
  }

  header {
    position: relative;
  }

  .bg-img {
    background: rgba(0, 0, 0, 0.8)url("bg.jpg");
    background-size: cover;
    height: 70vh;
  }

  .navbar {

    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    display: flex;
    justify-content: space-between;
    position: sticky;
  }

  .logo {
    height: 75px;
    border-radius: 50%;
    width: auto;
    margin-left: 67px;
    filter: invert(1);
  }

  ul li {
    list-style-type: none;
    display: inline-block;
  }

  ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 25px 42px;
    font-size: 18px;
    font-weight: 300;
  }

  ul li a:hover {
    color: #ed563b;
    transition: all 0.3s ease-in-out;
  }

  button {
    margin-right: 25px;
    height: 56px;
    background-color: #ed563b;
    border: none;
    border-radius: 13px;

  }

  button a {
    display: inline-block;
    text-decoration: none;
    color: white;
    outline: none;
    line-height: 10%;
    font-size: 25px;
    font-weight: 600;
    padding: 25px 34px;

  }

  .mid-header {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .banner {
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 85px;
    letter-spacing: 1px;
  }

  span {
    color: #ed563b;
    text-align: start;
  }

  button a:hover {
    background-color: rgba(250, 248, 248, 0.1);
    transition: all .5s ease-in-out;


  }

  .center {
    color: black;

  }

  .center-head {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 35px;

  }

  .mid-class {
    line-height: 66px;
  }

  .box {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 125px;
    margin-left: 125px;


  }

  .box-1 {
    margin: 24px;
    text-align: center;
  }

  .box-1 h3 {
    margin-bottom: 12px;
    color: #ed563b;
    font-weight: 600;

  }

  .box-1 p {
    word-spacing: 2px;
    line-height: 20px;

  }

  /* css for bottom section */
  .bottom {
    background-image: url('mid-image.jpg');
    background-size: cover;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 39px;
    position: relative;
  }

  .main {
    line-height: 35px;
    margin-left: 26%;
  }

  #btn {
    margin-top: 10px;
    margin-left: 35%;
    border-radius: 34px;
    padding: 12px;
    font-size: 23px;
    font-style: bold;
    text-align: center;
    color: white;
  }

  .btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;

  }

  .courses {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;
    height: 344px;
    width: 870px;
    position: relative;
    top: 25%;
    left: 21%;



  }

  .courses h1 {
    margin-left: 35%;
    margin-bottom: 50px;
  }

  /* training section starts here  */
  .training-head {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .training-left button {
    position: absolute;
    left: 140px;

  }

  .training-2 {
    color: blanchedalmond;
    font-weight: 700;
    font-size: 34px;
    padding: 13px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
  }

  .training-2:hover {
    color: black;
    background-color: background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

  }

  .training-1 {
    width: 400px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 1px 3px 5px #ddc1c1;
  }



  .para {
    font-size: 15px;
    text-transform: lowercase;
  }

  .training-3 {
    width: 746px;
    line-height: 25px;
    word-spacing: 2px;

  }

  .training-btn {
    color: black;
    font-weight: 700;
    font-size: 34px;
    padding: 13px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
  }

  .training-btn:hover {
    color: blanchedalmond;
    background-color: background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  .training-3.head {
    margin: 12px;
    font-weight: 500;

  }

  /* css for table section */
  .table {

    background: rgba(8, 8, 8, 0.1)url("sam-moqadam-Z4Q9KHw9ofE-unsplash.jpg");
    background-size: cover;
    height: 100vh;
  }

  .table-1 {
    text-align: center;
    margin-top: 5px;
    position: relative;
    top: 10vh;
    line-height: 32px;
    font-weight: 400;
  }

  .table-2 {
    color: rgb(252, 243, 243);
    font-weight: 600;
  }

  table {
    position: relative;
    top: 18vh;
    left: 24%;
    border-collapse: collapse;
  }

  tr,
  td {
    border: 3px solid rgb(238, 216, 216);
    padding: 54px
  }

  /* css for trainer section */
  .trainer {
    color: black;

  }

  .expert {
    text-align: center;
    margin: 12px 0 12px 0;
  }

  .expert-para {
    text-align: center;
    /* height: auto; */
    width: 150vh;
    margin: 16px -42% 20px 16%;
    font-size: 15px;

  }

  .trainer-bottom {
    display: flex;
    justify-content: space-between;
    align-item: center;
    margin: 12px;
  }

  .about-trainee {
    box-sizing: border-box;
    height: auto;
    width: 400px;
    box-shadow: 0px 1px 6px 2px #ddc1c1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 12px;
    font-size: 12px;
    word-spacing: 2px;
    text-transform: lowercase;
    padding: 12px;

  }

  .trainer-pic {
    border-radius: 33px;
  }

  .trainee-para {
    text-align: center;
  }

  /* css for form section */
  .map-form {
    display: flex;
    margin-top: 10vh;

  }

  .map {
    margin-left: 10px;
  }

  .form {
    /* border: 1px solid black; */
    background: rgba(0, 0, 0, 0.8)url("bg-img-2.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    width: 100vh;
    height: auto;
    margin-left: 80px;
  }

  .in-form {
    margin-left: 10vh;
    margin-top: 10vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 80vh;
   
   
   
  }

  .form-1 {
    padding: 10px;
    margin: 10px;
    width: 45%;

  }

  .name {
    width: 40vh;
    display: flex;
  }

  .out-form {
    margin-left: 10vh;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80vh;
    
  }

  .form-2 {
    padding: 10px;
    margin: 10px;

  }

  .msg {
    padding: 35px 0px 35px 0px;
  }

  ::-webkit-input-placeholder {
    margin-left: 6px;
  }

  .btn-2 {
    padding:12px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 8vh;
    margin-left: 10vh;
  }
  .btn-2:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    color:white;

  }
  /* .main-form{
    width:100vh;
    margin: 10vh;
    background-color: white;
  } */
  footer{
    color:black;
    text-align: center;
  }
  .form input{
    outline: none;
  }